<nav>
    <div class="logo">TESTINGLOGO</div>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project-add">Agrega un Project</a></li>
            <li><a href="/project">Detalles del Proyecto</a></li>
            <li><a href="/project-list">Buscar Proyectos</a>
        </ul>
    </div>
</nav>