<!DOCTYPE html>
<html lang="en">
    <%-include ('./partials/head.ejs')%>
   
<body>
    <%-include ('./partials/nav.ejs')%>

    <div class="error404">
        <h1>Ooops! Esta página no existe buddy</h1>
    </div>

    <%-include ('./partials/footer.ejs')%>
</body>
</html>