<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs')%>

    <h1>Tu Espacio de Outdoors y Aventura</h1>
    <h2>Projectos de Naturaleza y Outdoors en México</h2>
    <div class="map" id="mapa-projectos">

    </div>
    <h2>Turismo de Naturaleza y Aventura en México</h2>
    <div class="proyectos" id="lista-projectos">

    </div>
    <%-include ('./partials/footer.ejs')%>
</body>
</html>