<!DOCTYPE html>
<html lang="en">
    <%-include ('./partials/head.ejs')%>
   
<body>
    <%-include ('./partials/nav.ejs')%>
    <div class="projects list">
        Aqui ira la project list? o corresponde al index?
    </div>

    <%-include ('./partials/footer.ejs')%>
</body>
</html>