<!DOCTYPE html>
<html lang="en">
    <%-include ('./partials/head.ejs')%>
   
<body>
    <div class="wrap">
        <%-include ('./partials/nav.ejs')%>
        <form>
            <h1>Aqui ira la Form de Creación</h1>
        </form>

        <%-include ('./partials/footer.ejs')%>
    </div>
</body>
</html>