/* ================= Generals ======================== */

*{
    font-family:'Lucida Sans';
    margin:0
}
body{
    background-color: white;
}
footer {
    background-color: black;
    min-height: 10vh; 
    width: auto;
    color:beige;
    font-size:12px;
    /* position:relative */
   
    
}

footer p{
    text-align:center;
    padding:35px;
    /* position:absolute;
    top:50%, translateY(-50);
    margin:auto */

}

nav{
    background-color: black;
    min-height: 8vh;   
    width: auto;
    display:flex;
    align-items: center;
   
}

.menu{
    width:75%;
    
}

nav ul{
    display:flex;
    justify-content: right; 
    margin-right:80px
}

nav li{
    padding:25px;
    text-align:center

}
nav a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    background-color: yellow;
    min-width: 25%
}

/* ================= Index/Home ======================== */
.wrap{
    width:100%;
    max-width: 960px;
    margin: 0 auto;
}
/* check min19 to improve (position stuff) --> https://www.youtube.com/watch?v=QVgi57C3pLA */
.backdrop{
    background-image: url('./imgs/original.png');
    min-height:480px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding:35px;
    
}

.backdrop h1{
    font-size: 45px;
    margin-bottom: 15px;
    
}
.map-container{
    text-align: center;
    margin-top:25px;
    background-color:green
}
.map{
    flex:1 0 250px;
    background-color:blanchedalmond; 
    min-height: 320px;
    margin: 35px;
    border-radius:8px;
}
.category-pics-container{
    display:flex;
    flex-direction: column;
}
.category-pics-container h2{ 
    background-color: red;
    text-align: center;
}
.flex-pics-container{
 display:flex;
 justify-content: center;
 flex-wrap: wrap;
 background-color: blue;
}
.box{
    height:200px;
    border-radius: 7px;
    margin:25px 50px;
    cursor:pointer;
    flex: 0 0 320px;
    /* max-width: 300px; */
    /* means ->flexgrowth1, shrink0, basis180, sustituye: */
      /* flex-grow:1; */
      /* flex-shrink:0; */
      /* flex-basis:180px */
      /* min-width:180px; same as flexbasis but flexbasis is more powerful bc when it hits the limit min (180px here) it will make the boxes shrink instead of pulling the scrollbar */
}
.btn-container{
    background-color: aqua;
    padding: 25px;
    text-align: center;
}
.btn{
    text-align: center;
    padding:15px;
    border-radius: 7px;
    border: none;
    cursor:pointer
    padding;  
    width: 300px; 
    cursor: pointer;
    background-color: #ffc803ff;
    font-size:15px
    
}
.blog-container{
    background-color: purple;
    min-height: 550px;
    text-align: center;
    padding:35px
}

/* ================= Project Landing ======================== */

.wrap-projectlanding{
    width: 80%;
    max-width: 1280px;
    margin:auto;
    display:flex;
    flex-direction: column; 
    /* background-color: red;    */
}

.wrap-projectlanding h1{
    margin:25px 15px 25px 0px;

}

.project-pic{
    background-color:white;
    position:relative;
    overflow: hidden;
    width:100%;
    padding-top:55%;
   
}

.project-pic img{
    border-radius: 8px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
}


.paragraph{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.line{
    border-top:0.5px solid gray    
}

.project-desc{
    margin: 12px 0px;
    font-size: 18px;
    max-width:960px;
    text-align:center  
}
.anfitriones{
    display:flex;
    justify-content: space-around;
   
  
}
.img-anfitrion{
    margin:10px;
    flex-wrap:wrap
    
}

.img-anfitrion img{
    max-width: 100%;
    max-height: 100%;
    display:block;
    border-radius: 7px
}


/* .project-pic img{
    flex: 1 1 300px;
} */


/* .project-pic img{
    object-fit: cover; 
    max-width: 100%;
    display: block;
    height: auto;
    width:600px;
    height:300px;
    max-height:300px;
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto;
} */

.detalles-nombreProyecto{
    margin-top:30px;
}
.detalles-nombreProyecto h2{
    text-align: center;
    margin-bottom:35px;
    font-size: 25px;

}
.detalles-nombreProyecto h3{
    margin-top:15px
}

.project-map{
    /* width: 100%;
    height: 100%;
    display:block */
    position:relative;
    overflow:hidden;
    width: 100%;
    padding-top:45%;
    margin-bottom:50px;

}

.project-map iframe{
    /* text-align:center; */
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    border-radius: 8px;
  

}

/* ================= Project Add Form ======================== */
.generales{
    display:flex;
    flex-direction:column
}
.actividades{
    display:flex;
    flex-direction:column
}

.servicios{
    display:flex;
    flex-direction:column
}

input[type=text]{
    padding:8px;
    border-radius:6px;
    border:1px solid gray;
    width: 100%;
}
input[type=number]{
    padding:8px;
    border-radius:6px;
    border:1px solid gray;
    width: 100%;
}
input[type=checkbox]{
    /* padding:5px; */
    width: 25px;
    height: 25px;
}
input[type=checkbox]:checked+label{
    background-color:#16ab97;
    color:white
}

.label-text{
    margin-top:10px
}


select option {
    width: 100%;
}

select{
    /* margin-top:10px; */
    padding:8px;
    border-radius:6px;
    width:100%
}

.form-box{
    margin:35px
}

.query-category{
    margin:25px 0px;
    font-size: 25px;
}

textarea{
    margin:15px;
    border-radius:8px
}

/* ================= Project Lists & Search ======================== */
.wrap-search{
    max-width: 1280px;
    display:flex;
    flex-direction: column;
    margin:auto;
    /* background-color: red; */

}
.titulo{
    font-size:30px;
    padding: 35px 35px;
    text-align: center;
}

.actividades{
    margin:auto;
    
  
}

.projects-list{
    height: 50vh;
    background-color: #2716ab;
}

.projects-container{
    display:flex;  
    flex-direction:column;
    align-items:left;
    margin:30px;
    max-width: 1280px;
}

.project-link{
    margin: 6px 0px;
    padding: 6px;
    border-left: #16ab97be 5px solid;
    background-color:whitesmoke;
    border-radius:6px;
}

.project-link a{
    text-decoration:none;
    color: black
}

.project-link a:hover {
    color: #16ab97;
}




